#centro {
    background-color: white;
    margin: 0px auto;
    text-align: center;
}
#titulo {
    text-align: center;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: yellow;
}
#form {
    border: 10px solid black;
    margin: 150px auto;
    width: 500px;
}
#alDer {
    text-align: right;
}
#nada {}
/*para el formulario*/

#formu {
    /* Centrar el formulario en la página */
    margin: 100px auto;
    width: 500px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    color: #FFFFFF;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li+li {
    margin-top: 1em;
}
label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 100px;
    text-align: right;
}
input:focus, textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}
textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
    /* Proporcionar espacio para escribir texto */
    height: 5em;
}
.button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px;
    /* mismo tamaño que los elementos de la etiqueta */
}
button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
  entre las etiquetas y sus campos de texto */
    margin-left: .5em;
}